[Unit]
Description=Hack modem to work
After=ofono.service
Conflicts=rescue.target actdead.target factory-test.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/droid/ofono-hack.sh
TimeoutStartSec=60

[Install]
WantedBy=basic.target 
