[Unit]
Description=Link android storage for nemo user

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/droid/load-storage.sh

[Install]
WantedBy=graphical.target
